@import '/src/styles/variables.scss';

.headerMenuFilms {
    padding: 10px 28px 20px;
    height: 370px;
    display: flex !important;
    justify-content: space-between;
    &__hidden {
        display: none !important;
        z-index: 0;
    }
    &__block {
        padding-top: 14px;
        width: 180px;
    }
    &__column {
        min-width: 180px;
    }
    &__heading {
        margin-top: 20px;
        font-weight: 500;
        color: $headingColor;
    }
    &__list {
        display: flex;
    }
    &__link {
       text-decoration: none;
    }
    &__item {
        margin-top: 8px;
        width: 200px;

        line-height: 18px;
        color: $textColor;
        cursor: pointer; 
        
        @include hover-colorAnim ($headingColor, $textColor);
        &:first-letter {
            text-transform: uppercase;
        }
    }
}
