@import '/src/styles/variables.scss';

.internalPage {
    padding-top: 40px;

    @extend %modalWindowPreset;
    bottom: auto;

    &__hidden {
        display: none;
    }
    &__previous{
        white-space:nowrap;
        align-self: flex-start;
        display: flex;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
            .internalPage__svg_big{
                transform: scale(1.1);
            }
            .internalPage__text_btn {
                color: white;
            }
        }
    }
    &__main {
        margin: 0 auto;
        display: flex;
        justify-content: space-between; 
    }
    &__body {
        min-width: 600px;
        max-width: 600px;
    }
    &__heading{
        margin-bottom: 40px;

        font-size: 40px;
        line-height: 44px;
        font-weight: 900;
        font-style: normal;
        color: $headingColor;
    }
    &__text{
        color: $textColor;
        &_btn {
            transform: translate(-20px, 6px);
        }
    }

}

@media (max-width: 1160px) {
    .internalPage{
        &__main {
            margin: 0;
            padding: 0 42px;
        }
    }
};
@media (max-width: 1060px) {
    .internalPage{
        &__body {
            min-width: 100%;
        }
        &__heading{
            text-align: center;
        }
    }
}
@media (max-width: 880px) {
    .internalPage{
        flex-direction: column;
        justify-content: flex-start;
    }
}
@media (max-width: 400px) {
    .internalPage{
        &__main {
            padding: 0 20px;
        }
        &__heading{
            font-size: 30px;
            line-height: 40px;
            font-weight: 600;
        }
    }
};