@import '/src/styles/variables.scss';

.internalPage {
    padding-top: 40px;

    position: absolute;

    width: 100%;
    min-height: 200%;

    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    
    z-index: 4;

    display: flex;
    flex-direction: column;

    background:rgba(0,0,0,.9);

    &__hidden {
        display: none;
    }

    &__previous{
        align-self: flex-start;
        display: flex;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
            .internalPage__svg_big{
                transform: scale(1.1);
                
            }
            .internalPage__text_btn {
                color: white;
            }
        }
    }

    &__main {
        //height: 100%;
    
        //padding: 0 150px;
        display: flex;
        justify-content: space-between; 
    }

    &__body {
        width: 75%;
        max-width: 556px;
    }
    &__heading{
        margin-bottom: 40px;

        font-size: 40px;
        line-height: 44px;
        font-weight: 900;
        font-style: normal;
        color: $headingColor;

    }

    &__text{
        color: $textColor;
        &_btn {
            transform: translate(-20px, 6px);
        }
    }

}



@media (max-width: 1160px) {
    .internalPage{
        &__main {
            padding: 0 42px;
        }
    }
};

@media (max-width: 880px) {
    .internalPage{
        &__body {
            width: 100%;
        }
    }
}
