.home {
	&__teaser-list {
		margin-top: 30px;
	}
}

.pageSection__container {
	padding: 24px 0px;
}

.gallery {
	&__blockHeader {
		color: white;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 24px;
	}
}