.AdminPage{
    &__content{
        color: #FFFFFF;
        font-size: 25px;
        line-height: 28px;
        font-weight: 700;
        cursor: pointer;
    }
    &__btn{
        border-bottom: 1px solid rgba(255,255,255,.32);
        display: flex;
        margin: 30px 0 10px;
    }
    &__block-film{
        padding: 5px 20px 10px 10px;
        border-radius: 10px;
    }
    &__block-genre{
        padding: 5px 20px 10px 10px;
        border-radius: 10px;
    }
}