@import '/src/styles/variables.scss';

.reitingBlock {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,.08);
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    &__inner{
        display: flex;
    }
    &__reiting{
        margin-right: 10px;
        width: 64px;
        height: 64px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: gray;
        &_green {
            background-color: #73a32f;
        }
    }
    &__count {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        font-style: normal;
        height: 28px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $activeColor;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__heading {
        @extend %standartText; 
        color: $headingColor;
    }
    &__text {
        @extend %standartText; 
    }
    &__btn {
        display: flex;
        height: 26px;
        max-width: 100px;
    }
}

@media (max-width: 1160px) {
    .reitingBlock {
        &__reiting{
            width: 48px;
            height: 48px !important;
        }
        &__text {
            &_reit {
                display: none;
            }
        }
    }
}
@media (max-width: 440px) {
    .reitingBlock {
        &__inner{
            flex: 1 0 60%;
        }
        &__btn {
            flex: 0 1 30%;
            max-width: 90px;
        }
        &__heading {
            font-size: 12px;
            line-height: 12px;
        }
        &__text {
            font-size: 12px;
            line-height: 12px;
        }
    }
}