.btn {
    margin-right: 12px;
    padding: 9px 15px;

    display: inline-flex;
    align-items: center;
    
    border-radius: 8px;
    background-color: #1f1b2e;
    color: #fff;
    transition-property: background-color;
    &:hover {
        cursor: pointer;
        background-color: #2b2640;
        transition-duration: 0.4s;
    }
    &:not(:hover):not(:active) {
        background-color: #1f1b2e;
        transition-duration: 0.4s;
    }
    &__red {
       background-color: #ea003d;
       &:hover {
            background-color: #ff1a57;
            transition-duration: 0.4s;
        }
        &:not(:hover):not(:active) {
            background-color: #ea003d;
            transition-duration: 0.4s;
        }
    }
    &__gray {
        background-color: #808080;
        &:hover {
            background-color: #666666;
            transition-duration: 0.4s;
        }
        &:not(:hover):not(:active) {
            background-color: #808080;
            transition-duration: 0.4s;
        }
    }
    &__svg {
        margin-right: 8px;
    }
    &__textBlock {
        display: flex;
        flex-direction: column;
    }
    &__text {
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
        &:last-child{
            font-size: 15px;
            line-height: 20px;
        }
    }
}

