.btn {
    margin-right: 12px;
    padding: 9px 15px;

    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #1f1b2e;
    color: #fff;
    &__red {
       background-color: #e2002f; 
    }
    &__gray {
        background-color: rgba(255,255,255,.08);
    }
    &__svg {
        margin-right: 8px;
    }
    &__textBlock {
        display: flex;
        flex-direction: column;
    }
    &__text {
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
    }
    &__text:last-child{
        font-size: 15px;
        line-height: 20px;
    }
}