@import '/src/styles/variables.scss';

.sloganBlock {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__text {
        padding: 0 16px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        font-style: normal;
        color: $textColor;
    }
}