@import '/src/styles/variables.scss';

.searchBlock {
    @extend %modalWindowPreset; 

    width:100vw;
    height:100vh;

    &__hidden {
        display: none;
    }
    &__close {
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }
    &__modal {
        width: 50%;
    }
    &__heading {
        padding-top: 64px;
        padding-bottom: 40px;
        font-size: 40px;
        font-weight: 700;
        color: $headingColor;
    }
}

@media (max-width: 1060px) {
    .searchBlock {
        .BigSearch {
            transform: translateX(-30px);
        }
    }
}