@import '/src/styles/variables.scss';

.searchBlock {
    position:absolute;
    width:100vw;
    height:100vh;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    overflow: hidden;
    justify-content: center;
    
    background:rgba(0,0,0,.8);
    
    
    //transform: translateY(-20px);

    &__hidden {
        display: none;
    }
    &__close {
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }
    &__modal {
        width: 50%;
    }
    &__heading {
        padding-top: 64px;
        padding-bottom: 40px;
        font-size: 40px;
        font-weight: 700;
        color: $headingColor;
    }
}