@import '/src/styles/variables.scss';

.film {
    margin-top: 20px;
    &__container {
    }
    &__body {
        display: flex;
        justify-content: space-between;
    }
    &__desktop{
        display: block;
    }
    &__tablet {
        display: none;
    }
    &__mobile {
        display: none;
    }

    &__column {
        display: flex;
        flex-direction: column;
        text-align: center;
        &_left {
            position: sticky;
            top: 0;
            height: 440px; //только для липучки


            margin-right: 40px;
            flex: 1 1 58%;
        }
        &_right {
            flex: 2 0 40%;
        }
    }
    &__video {
        position: relative;
        width: 100%;
        margin: 20px auto;
        &::after {
            content: '';
            display: block;
            padding-top: 50%; /*установить пропорции, в данном случае квадрат*/
          }
    }
    &__videoPlayer{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &__slogan{
        display: block;
    }
    &__side{
        &_right{
            display: none;    
        }
    }
}

@media (max-width: 1160px) {
    .film {
        &__desktop{
            display: none;
        }
        &__slogan{
            display: none;
        }
        &__tablet{
            display: block;
        }
        &__body {
            display: block;
        }
        &__column {
            display: block;
            &_left {
                position: relative;
                top: auto;
                height: auto;
                margin-right: 0;
            }
            &_right {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        &__side {
            display: flex;
            flex-direction: column;
            text-align: center;
            &_left {
                margin-right: 20px;
                flex: 1 1 70%;
            }
            &_right {
                flex: 2 0 30%;
            }
        }
    }
}
@media (max-width: 880px) {
    .film {
        &__mobile {
            display: flex;
            flex-direction: column;
        }
        &__slogan{
            display: block;
        }
        &__side {
            &_left {
                margin-right: 0;
            }
            &_right{
                display: none;    
            }
        }
        &__video {
            margin-bottom: 0;
            transform: translateX(-42px);
            width: calc(100% + 84px);
        }
    }
}
@media (max-width: 600px) {
    .film {
        &__container {
            padding: 0 30px;
        }
        &__video {
            transform: translateX(-30px);
            width: calc(100% + 60px);
        }
    }
}