@import '/src/styles/variables.scss';

.film {
    margin-top: 20px;
    &__container {
    }

    &__desktop{
        display: flex;
        justify-content: space-between;
    }
    &__column {
        display: flex;
        flex-direction: column;
        text-align: center;
        &_left {
            margin-right: 40px;
            flex: 1 1 58%;
        }
        &_right {
            flex: 2 0 40%;
        }
    }
    &__video {
        position: relative;
        width: 100%;
        //height: auto;
        margin: 20px auto;
        background: #eee;
        &::after {
            content: '';
            display: block;
            padding-top: 50%; /*установите ваши пропорции, в данном случае квадрат*/
          }
    }
    &__videoPlayer{
        position: absolute;
        background: #555;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &__tablet {
        display: none;
    }
    &__body {
        display: none;
    }
    &__mobile {
        display: none;
    }
    
//Нижние блоки
    &__shortly{
        margin-bottom: 20px;
        height: 70px;
        width: 100%;
        background-color: aqua;
    }
    &__part {
        display: none;
        // display: flex;
        // justify-content: space-between;
    }
    &__inner{
        display: flex;
        flex-direction: column;
    }
    &__smallHeading {
        margin: 10px 0;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        font-style: normal;
        color: $activeColor;
    }
}

@media (max-width: 1160px) {
    .film {
        &__desktop {
            display: none;
        }
        &__tablet {
            display: flex;
            flex-direction: column;
        }
        &__body {
            display: flex;
            justify-content: space-between;
        }
        &__column {
            &_left {
                margin-right: 20px;
                flex: 1 1 70%;
            }
            &_right {
                flex: 2 0 30%;
            }
        }

    }
}
@media (max-width: 880px) {
    .film {
        &__tablet {
            display: none;
        }
        &__mobile {
            display: flex;
            flex-direction: column;
        }
        &__video {
            margin-bottom: 0;
            transform: translateX(-48px);
            width: calc(100% + 96px);
        }
    }
}