@import '/src/styles/variables.scss';

.iPnavPanel {
    &__navList{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        cursor: pointer;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 2px solid $splitLineColor;
        text-align: center;
        &_active {
            border-bottom: 3px solid red;
        }
    }
    &__text{
        display: inline-block;
        @extend %standartText;
        @include hover-colorAnim ($activeColor, $textColor)
    }
    &__counter {
        margin-left: 5px;
        display: inline-block;
        transform: translateY(-6px);
        font-size: 12px;
        color: #a5a1b2;
    }
}
@media (max-width: 480px) {
    .iPnavPanel {
        &__text{
            font-size: 10px;
            line-height: 10px;
        }
        &__counter {
            font-size: 8px;
        }
    }
}