@import '/src/styles/variables.scss'; 

.creatorsBlock {
    &__heading {
        color: white;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 24px;
    }
    &__body{
        display: flex;
        justify-content: space-between;

    }
    &__part{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
    &__card {
        min-width: 100px;
    }
    &__round {
        height: 88px;
        width: 88px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: gray;
        border-radius: 50%;

        cursor: pointer;
    }
}

@media (max-width: 1260px) {
    .creatorsBlock {
        &__card {
            &:nth-child(n+10) {
                    display: none;
            }    
        }
    }
}
@media (max-width: 1160px) {
    .creatorsBlock {
        &__card {
            &:nth-child(n+9) {
                    display: none;
            }    
        }
    }
}
@media (max-width: 1060px) {
    .creatorsBlock {
        &__card {
            &:nth-child(n+8) {
                    display: none;
            }    
        }
    }
}
@media (max-width: 950px) {
    .creatorsBlock {
        &__card {
            &:nth-child(n+7) {
                    display: none;
            }    
        }
    }
}
@media (max-width: 840px) {
    .creatorsBlock {
        &__card {
            &:nth-child(n+6) {
                    display: none;
            }    
        }
    }
}
@media (max-width: 720px) {
    .creatorsBlock {
        &__card {
            &:nth-child(n+5) {
                    display: none;
            }    
        }
    }
}
@media (max-width: 600px) {
    .creatorsBlock {
        &__round {
            flex-shrink: 0;
            height: 72px;
            width: 72px;
        }
        &__card {
            min-width: 80px;
            &:nth-child(n) {
                display: block;
        } 
            &:nth-child(n+6) {
                    display: none;
            }    
        }
    }
}
@media (max-width: 560px) {
    .creatorsBlock {
        &__card {
            &:nth-child(n+5) {
                    display: none;
            }    
        }
    }
}
@media (max-width: 470px) {
    .creatorsBlock {
        &__card {
            &:nth-child(n+4) {
                    display: none;
            }    
        }
    }
}
@media (max-width: 380px) {
    .creatorsBlock {
        &__card {
            &:nth-child(n+3) {
                    display: none;
            }    
        }
    }
}