$backgroundColor: #100e19;

$headingColor: #fff;
$textColor: #b0afb1;

$defaultIconColor:#2b2640;
$defaultIconColor-hover: #413960;

$splitLineColor: rgba(255,255,255,.16);
$activeColor: #fff;

$redColor: #ea003d;
$activeRedColor: #ff1a57;

@mixin hover-colorAnim ($hoverColor, $defaultColor){
    transition-property: color;
    &:hover {
        cursor: pointer;
        color: $hoverColor;
        transition-duration: 0.4s;
    }
    &:not(:hover):not(:active) {
        color: $defaultColor;
        transition-duration: 0.4s;
    }
}

@mixin hover-backgroundcolorAnim ($hoverColor, $defaultColor){
    transition-property: background-color;
    &:hover {
        cursor: pointer;
        background-color: $hoverColor;
        transition-duration: 0.4s;
    }
    &:not(:hover):not(:active) {
        background-color: $defaultColor;
        transition-duration: 0.4s;
    }
}