.shortMovieCard {
    margin-top: 16px;

    &__mobile {
        display: none;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: #FFFFFF;
        font-size: 15px;
        line-height: 22px;
        font-weight: 600;
    }

    &__movie {
        display: flex;
        align-items: center;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__poster {
        img {
            width: 80px;
            border-radius: 4px;
        }
    }

    .specification {
        margin-left: 16px;

        &__year {
        }

        &__name {
            margin-top: 4px;
        }

        &__rating {
            margin-top: 4px;
            font-size: 13px;
            line-height: 16px;
            color: #a5a1b2;
        }
    }
}

@media (max-width: 600px) {
    .shortMovieCard {
        &__content {
            display: none;
        }
        &__mobile{
            display: flex;
            color: #FFFFFF;
            font-size: 15px;
            line-height: 22px;
            font-weight: 600;
        }
        &__info {
            display: flex;
            flex: 0 1 100%;
            flex-direction: column;
            align-items: start;
            margin-left: 16px;
        }
        &__rating {
            font-size: 13px;
            line-height: 16px;
            color: #a5a1b2;
        }
        &__button{
            min-width: 100%;
        }
    }
}