.Sorting{
    &__content{
    }
    &__block{
    }
    .select{
        z-index: 2;
        font-family: iviSans,sans-serif;
        color: #FFFFFF;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;

        height: 20px;
        padding-right: 10px;
        position: relative;
        appearance: none;
        cursor: pointer;
        &__close-block{
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0);
            z-index: -1;
            cursor: auto;
        }
        &__active{
            display: flex;
            align-items: center;
            margin: 0 8px 10px 0;
        }
        &__icon-sorting{
            margin-right: 8px;
        }
        &__title{
            margin-right: 8px;
        }
        &__value{
            background-color: #1f1b2e;
            box-shadow: 0 20px 40px rgba(7, 5, 14, .4);
            padding-top: 8px;
            padding-bottom: 12px;
            width: 250px;
            z-index: 2;
        }
        &__subtitle{
            margin-top: 4px;
            margin-bottom: 12px;
            padding: 0 16px;
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
            color: #a5a1b2;
        }
        &__option {
            padding: 12px 0 12px 20px;
            color: rgba(255,255,255,.72);
            transition-duration: 0.4s;
            width: 250px;
            height: 44px;
            &:hover{
                color: #FFFFFF;
                background-color: #312b45;
                transition-duration: 0.4s;
                width: 250px;
                height: 44px;
            }
        }
        &__option-active{
            border-left: 4px solid #ea003d;
            padding: 12px 0 12px 20px;
            &:hover{
                color: #FFFFFF;
                background-color: #312b45;
                transition-duration: 0.4s;
                width: 250px;
                height: 44px;
            }
        }
        &__arrow-down{
            cursor: pointer;
        }
        &__arrow-up{
            transform: rotate(180deg);
            cursor: pointer;
        }
    }
}