@import '/src/styles/variables.scss';

.tile {
    &__hoverClass{
        padding: 14px;
        height: 120px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        border-radius: 8px;
        background-color: $defaultIconColor;

        @include hover-backgroundcolorAnim ($defaultIconColor-hover, $defaultIconColor)
    }
    &__withoutHoverClass{
        padding: 14px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        border-radius: 8px;
        background-color: $defaultIconColor;

        cursor: default;
    }
    &__svg{

    }
    &__text {
        font-size: 16px;
        padding-top: 14px;
        line-height: 20px;
        color: $headingColor;
    }
}