.close_block {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 300vh;
  top: -100vh;
  left: 0;
  position: absolute;
  cursor: auto;
}

.FilterTypeYear {
  position: absolute;
  z-index: 100;
  padding-top: 4px;
  min-width: 100%;
  padding-right: 10px;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 16px;

    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: rgba(217, 215, 224, .8);
    background-color: #312b45;
    border-radius: 10px;
    overflow: hidden;
  }

  &__year{
    display: flex;
    justify-content: space-between;
    height: 31px;
    &_white {
      color: #FFFFFF;
      display: flex;
      justify-content: space-between;
      height: 31px;
    }
    .selected-year__circle-mark {
      opacity: 0;
    }

    &:hover{
      color: #FFFFFF;
      .selected-year__circle-mark{
        opacity: 0.4;
      }
    }
  }

  &__year_white {
    display: flex;
    justify-content: space-between;
    height: 31px;
    color: #FFFFFF;
  }
}
