@import '/src/styles/variables.scss';

.watchesBlock {
    &__body{
        margin: 40px 0;
        display: flex;
        justify-content: space-between;
    }
    &__column{
        &_control {
            flex: 1 0 40%;
        }
        &_img {
            flex: 1 1 60%;
        } 
    }
    &__heading {
        margin-bottom: 12px;

        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        font-style: normal;
        
        color: $headingColor;
    }
    &__text {
        margin-bottom: 24px;
        @extend %standartText;
    }
    &__image-container{
        position: relative;
        height: 272px;
        width: 536px;
        margin: 0 auto;
    }
    &__image-tv {
        position: relative;
        width: 536px;
        height: 272px;
        z-index: 1;
    }
    &__image-tablet{
        position: absolute;
        right: 42px;
        bottom: 0;
        width: 200px;
        height: 136px;
        z-index: 1;
    }
    &__poster-tv{
        position: absolute;
        left: 100px;
        top: 3px;
        width: 337px;
        height: 192px;
        border-radius: 2px;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    &__posterTv{
        height: 100%;
    }
    &__poster-tablet {
        position: absolute;
        right: 48px;
        bottom: 7px;
        width: 188px;
        height: 102px;
        border-radius: 4px;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    &__posterTablet{
        height: 100%;
    }
    &__desktop {
        display: block;
    }
    &__mobile {
        display: none;
    }
}

@media (max-width: 880px) {
    .watchesBlock {
        padding-bottom: 60px;
        &__body {
            flex-direction: column-reverse;
            row-gap: 24px;
            padding: 24px;
            background-color: #1f1b2e;
            border-radius: 8px;
        }
        &__column{
            &_control {
                flex: 1 0 40%;
                display: flex;
                flex-direction: column;
            }
        }
        &__heading {
            font-size: 17px;
            line-height: 22px;
            font-weight: 700;
        }
        &__text {
            font-size: 13px;
            line-height: 16px;
        }
        &__image-container{
            width: 268px;
            height: 136px;
        }
        &__image-tv {
            width: 268px;
            height: 136px;
        }
        &__image-tablet{
            width: 100px;
            height: 67px;
            right: 22px;
            bottom: 0;
        }
        &__poster-tv{
            width: 168px;
            height: 96px;
            left: 50px;
            top: 1px;
        }
        &__poster-tablet {
            width: 94px;
            height: 51px;
            bottom: 3px;
            right: 25px;
            border-radius: 2px;
        }
        &__desktop {
            display: none;
        }
        &__mobile {
            display: block;
        }
    }
    
}
@media (max-width: 350px) {
    .watchesBlock {
        &__image-container{
            margin-left: -24px;
            margin-right: -24px;
        }
    }
}