@import '/src/styles/variables.scss';

.header {
    &__body {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 30px;
        position: relative; 
    }
    &__container {
        padding: 0 12px;
        margin-top: 10px;
        &_active {
            background: $backfroundElements;
            box-shadow: 0 20px 96px #12101b;
            border-radius: 12px 12px 0 0;  
        }
    }
    &__content {  
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after{
            content: '';
            background-color: $splitLineColor;
            height: 1px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
        }
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img{
        cursor: pointer;
    }
    &__btn-block {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_search {
            margin: 0 12px 0 8px;
            &:hover {
                cursor: pointer;
                .header__svg_search {
                    stroke: $activeColor;
                    fill: $activeColor;
                    transition-duration: 0.4s;
                }
                .header__text {
                    color: $activeColor;
                    transition-duration: 0.4s;
                }
            }
            &:not(:hover):not(:active) {
                .header__svg_search {
                    stroke: $textColor;
                    fill: $textColor;
                    transition-duration: 0.4s;
                }
                .header__text {
                    color: $textColor;
                    transition-duration: 0.4s;
                }
            }
        }
        &_notification{
            padding: 0 20px 0 8px;
            &:hover {
                cursor: pointer;
                .header__svg_notification {
                    stroke: $activeColor;
                    fill: $activeColor;
                    transition-duration: 0.4s;
                }
            }
            &:not(:hover):not(:active) {
                .header__svg_notification {
                    stroke: $textColor;
                    fill: $textColor;
                    transition-duration: 0.4s;
                }
            }
        }
        &_login {
            &:hover {
                .header__svg-border{
                    box-shadow: 0 0 6px $activeColor;
                    border-color: $activeColor;
                    transition-duration: 0.4s;
                    cursor: pointer;    
                }
                .header__svg_login {
                    stroke: $activeColor;
                    fill: $activeColor;
                    transition-duration: 0.4s;
                }
            }
            &:not(:hover):not(:active) {
                .header__svg-border{
                    border-color: $textColor;
                    transition-duration: 0.4s;
                }
                .header__svg_login {
                    stroke: $textColor;
                    fill: $textColor;
                    transition-duration: 0.4s;
                }
            }
        }  
    }
    &__svg-border {
        padding: 8px;

        border-radius: 8px;
        border: 1px solid $textColor;
        background-color: transparent;
    }
    &__svg {
        &_search {
            margin-right: 8px;
        }
    }
    &__text {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;

        color: $textColor;
    }
    &__headerMenu {
        margin-left: 32px;
    }
    &__dropDownBody {
        margin: 0 auto;

        //Исправить z-index, согласно Filters и footer-mobile
        z-index: 1999999999;
        display: block;

        background: $backfroundElements;
        box-shadow: 0 20px 96px #12101b;
        border-top: none;
        border-radius: 0 0 12px 12px;
        
        position: absolute;
        &_hidden {
            display: block;
            //выполняется в анимации
            //display: none;
            //z-index: -2;
        }
    }
}

.headerMenu {
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__listItem {
        &:first-child {
            padding-left: 0;
        }
    }
    &__link {
        padding: 10px;
    }
    &__text {
        padding: 0 0 14px 16px;
        transform: translateY(6px);
        height: 100%;

        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: $textColor;

        @include hover-colorAnim ($activeColor, $textColor)
    }
}

.dropDownBody{
    &__container{
        padding: 0 12px;
    }
}

//Animation dropDownMenu
.header {
    &__dropDownBody {
        animation-name: open;
        animation-duration: 0.4s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-delay: 0s;
    &__container{
        &_active {
            animation-name: open;
            animation-duration: 0.6s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0s;
        }
    }
        &_hidden {
            animation-name: close;
            animation-duration: 0.2s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0s;
        }
    }
}

.headerMenuFilms,
.headerMenuSeries,
.headerMenuMults,
.headerMenuTv {
    animation-name: open;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
} 

@keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
};

@keyframes close {
    0% {
        display: block;  
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -2;
    }
}

//Mobile version
@media (max-width: 1160px) {
    .header {
        &__headerMenu{
            display: none;
        }
        &__btn-block{
            &_search{
                display: none;
            }
        }
    }     
}
