@import '/src/styles/variables.scss';

.header {
    position: relative;
    z-index: 3;
    &__body {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 30px;
        position: relative; 
    }
    &__container {
        padding: 0 12px;
        margin-top: 10px;
        &_active {
            // background: $backgroundElements;
            box-shadow: 0 20px 96px #12101b;
            border-radius: 12px 12px 0 0;
        }
    }
    &__dropDownBody {
        margin: 0 auto;

        z-index: 3;
        display: block;

        background: $backgroundElements;
        box-shadow: 0 20px 96px #12101b;
        border-top: none;
        border-radius: 0 0 12px 12px;
        
        position: absolute;

        transition-property: opacity;
        transition-duration: 1000ms;
        opacity: 1;
        &_hidden {
            display: none;
            z-index: -2;
        }

    }
}

.dropDownBody{
    &__container{
        padding: 0 12px;
    }
}

//Animation dropDownMenu
.header {
    
    &__dropDownBody {
        animation-name: open;
        animation-duration: 0.4s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-delay: 0s;
    }
    &__container{
        &_active {
            animation-name: topOpen;
            animation-duration: 0.4s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0s;
        }
    }
        
}

.headerMenuFilms,
.headerMenuSeries,
.headerMenuMults,
.headerMenuTv {
    animation-name: open;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

@keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
};

@keyframes topOpen {
    0% {
      background: transparent;
    }
    100% {
        background: $backgroundElements;
    }
};

//Mobile version
@media (max-width: 600px) {
    .header {
        &__container {
            padding: 0 0;
        }
    }
}