@import '/src/styles/variables.scss';

.factsBlock {

    &__heading {
        margin: 40px 0;
        font-size: 28px;
        font-weight: 600;
        color: $headingColor;
    }
    &__text {
        max-width: 600px;
        @extend %standartText;
        margin-bottom: 3000px;
    } 
}

@media (max-width: 880px) {
    .factsBlock {
        &__text {
            max-width: 95%;
        } 
    }
}