.carousel {
	position: relative;

	&__slider-container {
		height: 523px;
		position: relative;
		overflow: hidden;
	}

	&__container {
		display: flex;
		overflow: scroll;
		flex-shrink: 0;
		scroll-behavior: smooth;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&:before,
		&:after {
			content: "";
			position: absolute;
			z-index: 1;
			width: 100px;
			top: 0;
			height: 100%;
			pointer-events: none;
			/*makes the linkes behind clickable.*/
		}

		&::-webkit-scrollbar {
			display: none;
		}


		&_fade-left {
			&:before {
				left: 0;
				background: linear-gradient(to right, #1f1b2e 10%, rgba(0, 0, 0, 0));

				@media screen and (max-width: 820px) {
					background: none;
				}
			}
		}

		&_fade-right {
			&::after {
				right: 0;
				background: linear-gradient(to left, #1f1b2e 10%, rgba(0, 0, 0, 0));

				@media screen and (max-width: 820px) {
					background: none;
				}
			}
		}

	}

	&__slider {
		height: 523px;
		display: flex;
		left: -890px;
		position: absolute;

		@media screen and (max-width: 1720px) {
			left: -1000px
		}

		&-item {
			opacity: 0.3;
			transition-duration: 300ms;
			padding-right: 16px;
			width: 100%;

			& img {
				border-radius: 20px;
			}

			&_active {
				opacity: 1;
				transition-duration: 300ms;
			}
		}
	}

	&__item {
		min-width: 153px;
		margin-right: 24px;
		height: 234px;
		color: white;
		border: 1px solid white;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__prev-arrow,
	&__next-arrow {
		width: 30px;
		height: 100%;
		position: absolute;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		cursor: pointer;

		//@media screen and (max-width: 820px) {
		//	display: none;
		//}

		&_icon {
			&:hover {
				stroke: #fff;
				fill: #fff;
			}

			&:not(:hover) {
				transition-duration: 0.4s;
			}

			&:active {
				width: 25px;
				height: 25px;
			}
		}
	}

	&__prev-arrow {
		left: -30px;
	}

	&__next-arrow {
		right: -30px;
	}


	.arrow-sm {
		&:active {
			width: 15px;
			height: 15px;
		}
	}


}