@import '/src/styles/variables.scss';

.sloganBlock {
    margin: 20px 0 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__text {
        padding: 0 16px;
        @extend %standartText; 
        text-align: center;
    }
}
