.actorPage {

    &__info{
        max-width: 596px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .btn-back {
        display: flex;
        padding-left: 30px;
        margin-top: 10px;

        color: #FFFFFF;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
        cursor: pointer;
        height: 52px;
    }

    &__arrow {
        &_big {
            display: none;
        }

        &_small {
            margin-bottom: -18px;
            margin-right: -5px;
        }
    }

    .btn-back:hover &__arrow {
        &_big {
            display: flex;
            align-items: baseline;

            margin-right: -15px;
            margin-top: -4px;
        }

        &_small {
            display: none;
        }
    }
}

@media (max-width: 600px){
    .actorPage{
        margin: 0 25px;
        padding-bottom: 40px;
        .btn-back{
            padding-left: 0;
        }
    }
}