@import '/src/styles/variables.scss';

.footer {
    background-color: $backgroundColor;
    color: $textColor;
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__content{
        padding: 48px 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        &:before {
            content: '';
            background-color: $splitLineColor;
            height: 1px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }
    }
    &__column{
        padding: 0 12px;
        flex: 0 1 25%;
        display: flex;
        flex-direction: column;
    }
    &__heading{
        display: block;
        margin-bottom: 8px;

        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: $headingColor;
    }
    &__item{
        margin-bottom: 8px;
    }
    &__link{
        display: block;

        font-weight: 400;
        line-height: 20px;
        text-decoration: none;

        @include hover-colorAnim($headingColor, $textColor);
    }
    &__text{
        max-width: 250px;
        line-height: 20px;
        &_bigButton{
            text-align: center;
            transform: translateX(16px);
            color: $textColor;
        }
        &_copyrights{
            max-width: none;
            line-height: 22px;
        }
        &_additional{
            color: $headingColor;
            @include hover-colorAnim($textColor, $headingColor);
        }
    }
    &__certificateLinkWrapper{
        background-image: -webkit-linear-gradient(135deg,#c447ff,#ea003d);
        background-image: -o-linear-gradient(135deg,#c447ff,#ea003d);
        background-image: linear-gradient(-45deg,#c447ff,#ea003d);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__cretificateLink{
        font-size: 15px;
        font-weight: 500;
        color: inherit;
        -webkit-text-fill-color: transparent;
    }
    &__buttons{
        display: flex;
        margin: 10px 10px 10px 0;

        &_anim {
            animation-name: open;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0s;
        }
        &_hidden{
            display: none;
        }
    }
    &__buttons:first-of-type{
        margin-top: 18px;
    }
    &__ask{
        &_hidden{
            display: none;
        }
    }
    &__bigButton{
        margin-bottom: 24px;
        height: 104px;
        width: 104px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        align-self: center;
        border-radius: 20px;

        --start-gradient-color: #A869F0;
        --end-gradient-color: #834CC2;
        --shadow-color: #A869F0;
        background: -webkit-gradient(linear,left top,left bottom,from(var(--start-gradient-color)),to(var(--end-gradient-color)));
        background: -webkit-linear-gradient(top,var(--start-gradient-color) 0%,var(--end-gradient-color) 100%);
        background: -o-linear-gradient(top,var(--start-gradient-color) 0%,var(--end-gradient-color) 100%);
        background: linear-gradient(180deg,var(--start-gradient-color) 0%,var(--end-gradient-color) 100%);
        box-shadow: 0 0 104px var(--shadow-color);
    }
    &__stores{
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
    }
    &__copyrights{
        min-width: 600px;
    }
    &__community{
        display: flex;
        justify-content: space-between;
    }
    &__icon-block{
        margin-left: 12px;
        padding: 14px;
        border-radius: 100%;
        background-color: $defaultIconColor;
        border-color: $defaultIconColor;

        @include hover-backgroundcolorAnim($defaultIconColor-hover, $defaultIconColor);
    }
    &__mobile {
        display: none;
    }
}

//Animation
@keyframes open {
    0% {
      display: block;
      opacity: 0;
      visibility: hidden;
    }
    100% {
      display: block;
      opacity: 1;
      visibility: visible;
    }
}

//Mobile version
@media (max-width: 1160px) {
    .footer {
        &__container {
            display: none;
        }
        &__mobile {
            display: block;
        }
        &__copyrights{
            &_mobile {
                padding-bottom: 80px;
            }
        }
        &__mobile-text{
            font-size: 13px;
            line-height: 16px;
            font-weight: 400;
            font-style: normal;

            color: #312b45;
        }
        &__bottom-bar {
            padding: 0 40px;
            display: flex;
            justify-content: center;
            backdrop-filter: blur(8px);
            background-color: rgba(31,27,46,.88);
            box-shadow: 0 -20px 40px rgba(7,5,14,.24);
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            //Исправить z-index, согласно Filters и header-desktop
            z-index: 2;
        }
        &__mobile-list {
            flex: 1  0 100%;
            max-width: 610px;
            display: flex;
            justify-content: space-between;
        }
        &__mobile-item {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            cursor: pointer;
        }
        &__mobile-heading {
            //align-self: center;
            margin-top: 6px;
            font-size: 10px;
            line-height: 12px;
            font-weight: 500;
            font-style: normal;
            height: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            color: #a5a1b2;
        }
        &__svg {
            &_circle-center{
                margin: 0 2px;
            }
        }
    }
}