@import '/src/styles/variables.scss';

.card {
    display: block;
    &__small{
        max-width: 85px;
        max-height: 96px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: transparent;
        cursor: pointer;
        transition-property: color, background-color;

        &:hover {
            cursor: pointer;
            .card{
                &__body{
                    &_small{
                    background-color: lightgray;
                    transition-duration: 0.4s;
                    }
                }
                &__text{
                    &_small{
                        transition-duration: 0.4s;
                        color: $activeColor;
                    }
                }
        } 
        }
        &:not(:hover):not(:active) {
            .card{
                &__body{
                    &_small{
                    background-color: gray;
                    transition-duration: 0.4s;
                    }
                }
                &__text{
                    &_small{
                        transition-duration: 0.4s;
                        color: $textColor;
                    }
                }
            }
        }
    }
    &__reit {
        max-width: 85px;
        max-height: 96px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: transparent;
        cursor: pointer;
        transition-property: color, background-color;

        &:hover {
            cursor: pointer;
            .card{
                &__body{
                    &_small{
                    background-color: lightgray;
                    transition-duration: 0.4s;
                    }
                }
                &__text{
                    &_reit{
                        transition-duration: 0.4s;
                        color: $activeColor;
                    }
                }
            } 
        }
        &:not(:hover):not(:active) {
            .card{
                &__body{
                    &_small{
                    background-color: gray;
                    transition-duration: 0.4s;
                    }
                }
                &__text{
                    &_reit{
                        transition-duration: 0.4s;
                        color: $textColor;
                    }
                }
            }
        }
    }
    &__big {
        max-width: 88px;
        max-height: 144px;
        cursor: pointer;

        transition-property: color;

        &:hover {
            cursor: pointer;
            .card{
                &__text{
                    &_big{
                        transition-duration: 0.4s;
                        color: $activeColor;
                    }
                }
            } 
        }
        &:not(:hover):not(:active) {
            .card{
                &__text{
                    &_big{
                        transition-duration: 0.4s;
                        color: $textColor;
                    }
                }
            }
        }
    }
    
    &__body{
        &_small{
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            background-color: gray;
        }
        &_big {
            margin-bottom: 4px;
            width: 88px;
            height: 88px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: gray;
            overflow: hidden;
        }
    }
    &__img{
        &_small{
            border-radius: 12px;
            max-height: 44px;
            max-width: 44px;
        }
        &_big{
            max-height: 88px;
            max-width: 88px;
        }
    }
    &__color {
        background-color: gray;
        border-radius: 12px;
        height: 44px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 600;
        font-size: 16px;
        &_green{
            border-radius: 12px;
            height: 44px;
            width: 44px;
            background-color: #73a32f;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: 600;
            font-size: 16px;
        }
    }
    &__text{
        &_small{
            margin-top: 8px;
            font-size: 13px;
            line-height: 16px;
            font-weight: 400;
            text-align: center;
            color: $textColor;
        }
        &_reit{
            margin-top: 9px;
            font-size: 13px;
            line-height: 9px;
            font-weight: 400;
            text-align: center;
            color: $textColor;
        }
        &_big {
            font-size: 13px;
            line-height: 16px;
            font-weight: 500;
            font-style: normal;
            color: $textColor;
        }
        &_role {
            margin-top: 2px;
            font-size: 12px;
            color: #a5a1b2;
        }
    }
}

@media (max-width: 600px) {
    .card {
        &__small{
            width: 72px;
            height: 80px;
        }
        &__body{
            &_small{
                width: 44px;
                min-height: 44px;
                height: 44px;
            }
        }
        &__img{
            &_small{
                max-height: 36px;
                max-width: 36px;
            }
        }
        &__color {
            max-height: 36px;
            max-width: 36px;
            &_green {
                max-height: 36px;
                max-width: 36px;
            }
        }
        &__text{
            &_small{
                font-size: 10px;
                line-height: 14px;
            }
            &_reit{
                font-size: 10px;
                line-height: 4px;
            }
        }
    }
}