

.filterButton{
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  padding: 0 6px;
  flex: 0 1 20%;
  min-width: 20%;
  cursor: pointer;
  position: relative;
  &__content{
    height: 56px;
    padding: 8px 16px 8px 16px;
    background-color: #312b45;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: iviSans,sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 10px;
    z-index: 10;
  }
  .content-active{
    background-color: #7e798f;
  }
  &__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    flex: 1 1 auto;
  }
  &__title{
    font-weight: 600;
    height: 20px;
  }
  &__subtitle{
    color: #a5a1b2;
    font-size: 13px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
  }
  &__arrow{
    margin-left: 16px;
    &_reverse{
      transform: rotate(180deg);
      margin-bottom: 6px;
    }
  }
  &__menu{
    z-index: 11;
  }
}