.filterButton {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    padding: 0 6px;
    flex: 0 1 20%;
    min-width: 20%;
    cursor: pointer;
    position: relative;

    &__mobile{
        display: none;
    }

    &__content {
        height: 56px;
        padding: 8px 16px 8px 16px;
        background-color: #312b45;
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: iviSans, sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        border-radius: 10px;
        z-index: 1;
    }

    .content-active {
        background-color: #7e798f;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        flex: 1 1 auto;
    }

    &__title {
        font-weight: 600;
        height: 20px;
        overflow: hidden;
    }

    &__subtitle {
        color: #a5a1b2;
        font-size: 13px;
        line-height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 4px;
    }

    &__arrow {
        margin-left: 16px;

        &_reverse {
            transform: rotate(180deg);
            margin-bottom: 6px;
        }
    }

}

@media (max-width: 880px){
    .filterButton{
        flex: 0 1 50%;
    }
}

@media (max-width: 600px){
    .filterButton{
        flex: 0 1 100%;
        &__container{
            display: none;
        }
        &__mobile{
            display: contents;
        }
        .btn-header{
            display: flex;
            height: 22px;
            margin-bottom: 16px;
            &__title{
                margin-right: 8px;
            }
        }
    }
}