.Search{
  &__content{
    max-width: 1240px;
  }
  .input{
    height: 40px;
    margin: 0 14%;
    background-color: #d9d7e0;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    &__block{
      display: flex;
      justify-content: space-between;
    }
    &__title{
      position: absolute;
      color: #a5a1b2;
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
      padding: 10px;
      transition-duration: 0.3s;
    }
    &__title_small{
      transition-duration: 0.3s;
      position: absolute;
      color: #a5a1b2;
      font-size: 12px;
      line-height: 15px;
      font-weight: 600;
      padding: 4px 10px;
    }
    &__input{
      position: absolute;
      padding: 18px 0 2px 10px;
      height: 40px;
      width: 100%;
      background-color: rgba(0,0,0,0);
      cursor: pointer;
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
      color: #1f1b2e;
    }
    &__icons{
      position: absolute;
      right: 0;
      top: 0;
      height: 24px;
      padding-top: 8px;
      margin-right: 10px;
      &:hover{
        .input__cross{
          stroke: rgba(31,27,46,1);
        }
      }
    }
    &__cross{
      stroke: rgba(31,27,46,.16);
      transition-duration: 0.4s;
    }
    &__search{
      stroke: rgba(31,27,46,.16);
      transition-duration: 0.4s;
    }
  }
  &:hover{
    .input__cross{
      stroke: rgba(31,27,46,.45);
      transition-duration: 0.4s;
    }
    .input__search{
      stroke: rgba(31,27,46,.45);
      transition-duration: 0.4s;
    }
  }
}