.Breadcrumbs{
    &__content{
        display: flex;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
    }
    .title{
        display: flex;
        &__composite {
            display: flex;
        }
        &__films, &__home {
            margin: 0 5px;
            cursor: pointer;
            border-bottom: 2px solid #7e798f;
            transition-duration: 0.4s;
            color: white;
            &:hover{
                transition-duration: 0.4s;
                background-color: #7e798f;
            }
        }
        &__films{
            &_notActive{
                margin: 0 5px;
                opacity: 0.4;
            }
        }
    }
    &__subtitle{
        opacity: 0.4;
        &_genre{
            color: gray;
            cursor: pointer;
            opacity: 1;
        }
    }
}

