@import '/src/styles/variables.scss';

.headerMenuNotify {
    padding: 10px 28px 20px;
    display: flex;
    justify-content: space-between;
    height: 300px;
    &__hidden {
        display: none;
    }
    &__block {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__text{
        padding-top: 30px;
        @extend %standartText;
    }
}