.BigSearch{
  max-width: 1240px;
  &__content{
    margin: 0 14%;
    display: flex;
    align-items: flex-start;
    padding: 24px 12px 8px;
    cursor: pointer;
  }
  &__result{
    color: #a5a1b2;
    padding-left: 8px;
  }
  &__title{
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    transition-duration: 0.4s;
    &:hover{
      color: #ea003d;
      transition-duration: 0.4s;
    }
  }
  &__subtitle{
    margin-top: 4px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
  }
}