.FilterTypeYear {
    position: absolute;
    z-index: 2;
    padding-top: 4px;
    min-width: 100%;
    padding-right: 10px;

    &__mobile{
        display: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 16px;

        font-size: 13px;
        line-height: 16px;
        font-weight: 600;
        color: rgba(217, 215, 224, .8);
        background-color: #312b45;
        border-radius: 10px;
        overflow: hidden;
    }

    &__year {
        display: flex;
        justify-content: space-between;
        height: 31px;

        &_white {
            color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            height: 31px;
        }

        .selected-year__circle-mark {
            opacity: 0;
        }

        &:hover {
            color: #FFFFFF;

            .selected-year__circle-mark {
                opacity: 0.4;
            }
        }
    }

    &__year_white {
        display: flex;
        justify-content: space-between;
        height: 31px;
        color: #FFFFFF;
    }
}

@media (max-width: 600px){
    .FilterTypeYear{
        position: relative;
        padding-bottom: 10px;
        &__content{
            display: none;
        }
        &__mobile{
            display: contents;
        }
        &__scroll{
            display: flex;
            .filter-element {
                display: flex;
                justify-content: flex-start;
                flex: 0 0 auto;
                transition: margin-left 250ms;
            }
        }
    }
}
